.anime-img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    /* animation: shake 0.5s;  */
    /* animation: three_d 5s; */
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

h1, h2, h3{
    font-family: 'Jua', sans-serif;
}

.triangle .original{
    fill: black;
    stroke-width: 8;
}
.triangle .blue{
    fill: cyan;
    stroke-width: 8;
    transform: translate(-2px, 1px);
}
.triangle .red{
    fill: red;
    stroke-width: 8;
    transform: translate(2px, 1px);
    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes three_d {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    100% { transform: translate(-2px, -2px) rotate(-1deg); }
}